/* === Lists === */
.list {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0;
    padding: 0.4rem 0;
    list-style-type: none;
    text-decoration: inherit;
    letter-spacing: .00937rem;
    text-transform: inherit;
    color: rgba(0, 0, 0, .87);

    .list-item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        height: 2.4rem;
        padding: 0 $list-side-padding;
        overflow: hidden;

        &:focus {
            outline: none;
        }
    }

    .list-item-graphic{
        @include size(1.4rem);
        margin-right: 0.35rem;
    }

    .list-item-meta{
        margin-left: auto;
        margin-right: 0;
        @include size(1.1rem);
    }

    .list-item-text, .list-item-secondary {
        @include wrap-space;
        display: block;
    }

    &.list-two-line .list-item {
        height: 3.6rem;
    }

}
