//
// Variables
// --------------------------------------------------

// Type
// --------------------------------------------------
$font-family-default: "PingFang-SC-Bold", Helvetica, sans-serif;
$font-size-default: 0.85rem;
$font-weight: 500;
$font-weight-light: 400;
$line-height-default: 1.05rem;
//img
$imgBaseUrl: "../img";
// Colors
// --------------------------------------------------


// 主色
$color-primary: #FFDD33;
$color-danger: #F64033;
$color-warning: #f60;
$color-success: #4cd964;
$color-primary-active: #0a8ddf;
$color-danger-active: opacify($color-danger, 0.1);
$color-warning-active: opacify($color-warning, 0.1);
$color-success-active: opacify($color-success, 0.1);
$color-split: #383840;
//分割线的颜色
$color-bg: #383840;
$color-text: #fff;
//文案色
$color-text-active: #ff00ff;
$color-text-secondary: #999;
//次级文案

$color-text-gray: #888;
//灰色文案
$color-text-gray-light: #ccc;
//更灰色文案

//链接色
$color-link: $color-primary;
//链接色有可能不同于主色
$color-link-active: $color-primary-active;
//链接色有可能不同于主色

// Bars
// --------------------------------------------------

$bar-bg-color: #2D2D32;
$bar-gradient-color-left: #313443;
$bar-gradient-color-right: #535969;
$bar-item-color: $color-text-gray;
$bar-base-height: 2.2rem;
$bar-tab-height: 2.5rem;
$bar-side-spacing: 0.5rem;
// Cards
// --------------------------------------------------

$card-bg: #535969;
$card-border-color: #fff;
// Tags
//---------------------------------------------------
$tag-border-width: 1px;
$tag-border-color: #fff;
$tag-border-default: $tag-border-width solid $tag-border-color;
$tag-border-radius: 0.7rem;
$tag-txt-color: #fff;
$tag-bg-color: transparent;
$tag-bg-color-active: #4E87FA;
//Modal
//---------------------------------------------------
$modal-bg-color: #3D4150;
$modal-close-color: $color-text-secondary;
$modal-buton-color: $color-primary;
$modal-buton-bg: $modal-bg-color;
$modal-buton-active-bg: #d4d4d4;
$modal-duration: 400ms;
$modal-border-radius: 0.1rem;
// $actions-modal-duration: 300ms;
// $actions-modal-button-bg: rgba(243, 243, 243, 0.95);
// $actions-modal-active-button-bg: #dcdcdc;
$popup-bg-color: #000;
$popup-gradient-color-top: #313443;
$popup-gradient-color-bottom: #535969;
$popup-duration: 400ms;
// Buttons
// --------------------------------------------------

$button-font-size: 0.6rem;
// Transitions
// --------------------------------------------------

$timing-fuction: cubic-bezier(.1, .5, .1, 1);
// Inspired by $c2prods


// Borders
// --------------------------------------------------

$border-default-width: 1px;
$border-default-color: $color-split;
$border-default: $border-default-width solid $border-default-color;
$border-radius: 0.3rem;
