.navs-wrapper {
    .navs-content {
        @include spindle-center(space-around);
        position: relative;
    }
    .navs-item {
        color: $color-primary;
        font-size: 0.651rem;
        line-height: 1.5rem;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1 0 0;
        @include transition(all .3s);

        &.active {
            @include transition(all .3s);
            font-size: 0.85rem;
        }
    }
    .navs-line {
        width: auto;
        height: 0.07rem;
        position: absolute;
        bottom: 0;
        left: 0;
        @include transition(all .3s);

        >span {
            width: 1.75rem;
            height: 0.07rem;
            background: $color-primary;
            display: block;
            margin: auto;
        }
    }
}


.pages-wrapper {
    min-height: 1px;
    overflow: hidden;

    .pages-content {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        @include flex-spindle(start);
    }

    .pages-item {
        box-sizing: border-box;
        overflow: hidden;
    }

}
