<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <div class="title-content navs-wrapper">
                <nav class="navs-content">
                    <div class="navs-item active" data-index="2">{{BAR.Home}}</div>
                </nav>
            </div>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content pages-video" ref="wrapper">
            <div class="pages-wrapper">
                <div class="pages-contents" ref="listWrapper">
                    <div class="billing-box">
                        <a href="#/user/information" class="billing-item">
                            <img src="https://shineliveapp.com/imges/backimges/information-bg@2x.png">
                        </a>
                    </div>
                    <div class="content-block bg-black section-live">
                        <div class="row box-cards box-lives">
                        </div>
                        <!-- /.box-cards -->
                    </div>

                    <div class="content-block section-video">
                        {{if VideoType}}
                            <div class="tag tag-video">
                                {{each VideoType}}
                                    <label class="tag-label {{if $value.id == 1}}active{{/if}}" data-id="{{if $value.id == 1}}0{{else}}{{$value.id}}{{/if}}" ><span>#</span>{{$value.video_type}}</label>
                                {{/each}}
                            </div>
                            <!-- /.tag -->
                        {{/if}}

                        <div class="row box-cards box-videos" data-page="1">
                        </div>
                        <!-- /.box-cards -->
                    </div>
                </div>
                <!-- /.contents-video -->
            </div>
        </div>
    </div>
</div>