<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{HOME.Live.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block user-wrapper" ref="wrapper">
            <div class="user-content">
                <div class="users-contents" ref="listWrapper">
                    {{if LiveList}}
                        <div class="row box-cards" data-page="1">
                            {{each LiveList}}
                                <div class="col-50 card card-live" data-channel-id="{{$value.id}}">
                                    <div class="card-content" style="background-image: url({{$value.everyday_img}});">
                                        <div class="cards-top">
                                            <span class="tag-label">
                                                {{if $value.status == 1}}
                                                    {{PUBLIC.LIVE_MODE.Private}}
                                                {{else if $value.status == 2}}
                                                    {{PUBLIC.LIVE_MODE.Party}}
                                                {{else if $value.status == 3}}
                                                    {{PUBLIC.LIVE_MODE.Gold}}
                                                {{else if $value.status == 4}}
                                                    {{PUBLIC.LIVE_MODE.Sexy}}
                                                {{/if}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-foot">
                                        <div class="user-img avatar-female">
                                            <img src="{{$value.user_head}}">
                                        </div>
                                        <div class="foot-info">
                                            <h3 class="name">{{$value.user_name}}</h3>
                                            <p class="txt">{{$value.heat}} {{PUBLIC.Heat}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <!-- /.box-cards -->
                    {{else}}
                        <p class="no-more">{{PUBLIC.No_More}}</p>
                    {{/if}}
                </div>
                <!-- /.contents-video -->
            </div>
        </div>
    </div>
</div>