<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{USER_PRICE.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block user-cover-wrapper">
            <div class="cover-header price-header">
                <div class="user-info price-info {{if UserInfo.user_authentication == 2}}across-bg{{/if}}">
                    <div class="user-img {{if UserInfo.user_sex == 1}} avatar-male {{else}} avatar-female {{/if}}" style="{{if UserInfo.user_head}} background-image: url({{UserInfo.user_head}}); {{/if}}"></div>
                    <p class="user-level">{{UserInfo.live_level}}</p>
                </div>
                <!-- /.user-info -->

                <div class="star-box">
                    <div class="star-content {{if UserInfo.user_authentication == 1}}disable{{/if}}">
                        <span class="star-title">Lv.{{UserInfo.live_level}}</span>
                        <span class="star-line {{if UserInfo.live_level >= 1}} active {{/if}}"></span>
                        <span class="star-line {{if UserInfo.live_level >= 2}} active {{/if}}"></span>
                        <span class="star-line {{if UserInfo.live_level >= 3}} active {{/if}}"></span>
                        <span class="star-line {{if UserInfo.live_level >= 4}} active {{/if}}"></span>
                        <span class="star-line {{if UserInfo.live_level == 5}} active {{/if}}"></span>
                    </div>
                    <!-- /.star-content -->
                    {{if UserInfo.user_authentication == 1}}
                        <p class="star-text">{{USER_PRICE.Not_Open}}</p>
                    {{/if}}
                </div>
                <!-- /.star-box -->
            </div>
            <!-- /.cover-header price-headerr -->

            {{if LivePrice}}
                <div class="score-list">
                    {{each LivePrice}}
                        {{if $value.live_type == 1}}
                            <div class="score-item">
                                <h3><span class="color-primary">{{$value.live_price}}</span> <small>{{USER_PRICE.Live_Price.Private_Unit}}</small></h3>
                                <p>{{USER_PRICE.Live_Price.Private_Title}}</p>
                            </div>
                        {{else if $value.live_type == 3}}
                            <div class="score-item">
                                <h3><span class="color-primary">{{$value.live_price}}</span> <small>{{USER_PRICE.Live_Price.Gold_Unit}}</small></h3>
                                <p>{{USER_PRICE.Live_Price.Gold_Title}}</p>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            <!-- /.score-list -->

            <div class="cover-content price-content">
                <p class="level-title">{{USER_PRICE.Level_Privilege.Title}}</p>

                <div class="tag price-tag {{if UserInfo.user_authentication == 1}}undone{{/if}}">
                    <label class="level-label">
                        <i class="icon icon-price"></i>
                        <span class="title">{{USER_PRICE.Level_Privilege.Price_Increase}}</span>
                        {{if UserInfo.user_authentication == 1}}
                            <span class="undone">{{USER_PRICE.Level_Privilege.Text}}</span>
                        {{/if}}
                    </label>
                    <label class="level-label">
                        <i class="icon icon-kickout"></i>
                        <span class="title">{{USER_PRICE.Level_Privilege.Kickout}}</span>
                        {{if UserInfo.user_authentication == 1}}
                            <span class="undone">{{USER_PRICE.Level_Privilege.Text}}</span>
                        {{/if}}
                    </label>
                    <label class="level-label">
                        <i class="icon icon-ident"></i>
                        <span class="title">{{USER_PRICE.Level_Privilege.Identification}}</span>
                        {{if UserInfo.user_authentication == 1}}
                            <span class="undone">{{USER_PRICE.Level_Privilege.Text}}</span>
                        {{/if}}
                    </label>
                </div>
            </div>
            <!-- /.cover-content price-content -->
        </div>
    </div>
</div>