<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn"  href="#/user" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{USER_ACCOUNT.Title}}</h1>
            <a class="font-btn" href="#/user/account/history" data-ripple>{{BAR.History}}</a>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block">
            <div class="user-wrapper">
                <div class="banner">
                    <div class="banner-box">
                        <a href="#" class="banner-item">
                            <img src="https://shineliveapp.com/imges/backimges/banner-chongzhi@2x.png">
                        </a>
                    </div>
                </div>
                <!-- /.banner -->
            </div>

            <div class="recharge-group theme-white">
                <p class="recharge-label">
                    <span>{{LIVE_PREVIEW.Recharge.Select_Amount}}</span>
                    <span class="money">{{LIVE_PREVIEW.Actions.Account}}{{UserInfo.user_package}} {{LIVE_PREVIEW.Actions.Coins}}</span>
                </p>
                <div class="tag tag-recharge">
                    {{if AllGoodsList}}
                        {{each AllGoodsList}}
                            <label class="recharge-label {{if $index == 0}} active {{/if}}" data-id="{{$value.id}}" data-title="{{$value.title}}" data-price="{{$value.goods_price}}" data-total="{{$value.total_price}}" data-currency="{{$value.country_id}}" data-ripple>
                                <p class="cost">{{$value.title}} {{LIVE_PREVIEW.Actions.Coins}}</p>
                                <p>{{$value.total_price}}</p>
                            </label>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="recharge-group theme-white">
                <p class="recharge-label">
                    <span>{{LIVE_PREVIEW.Recharge.Payment_Method}}</span>
                    <span>{{LIVE_PREVIEW.Recharge.Not_Pay.Title}} <span id="button-customer" class="color-primary"> {{LIVE_PREVIEW.Recharge.Not_Pay.Text}}</span></span>
                </p>
                <ul class="list">
                    {{if PayWayList}}
                        {{each PayWayList}}
                            <li class="list-item {{if $index == 0}} active {{/if}}" data-id="{{$value.id}}" data-ripple>
                                <span class="icon modals-paypal list-item-graphic" style="{{if $value.pay_img}} background-image: url({{$value.pay_img}}); {{/if}}"></span>
                                <span class="list-item-text">{{$value.pay_way}}</span>
                                <span class="icon modals-confirm list-item-meta"></span>
                            </li>
                        {{/each}}
                    {{/if}}
                </ul>
                <div id="paypal-button" class="button-paypal hide"></div>
                <div id="button-pay" class="button button-primary" data-ripple>{{USER_ACCOUNT.Buttons}}</div>
                <p class="account-pay">{{USER_ACCOUNT.Remarks_Content}} <a class="color-primary" href="#/user/account/terms">{{USER_ACCOUNT.Remarks_Text}}</a></p>
            </div>
        </div>
    </div>
</div>