<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{HOME.FreeVideo.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block user-wrapper" ref="wrapper">
            <div class="user-content">
                <div class="users-contents" ref="listWrapper">
                    {{if VideoType}}
                        <div class="tag tag-video">
                            {{each VideoType}}
                                <label class="tag-label {{if $value.id == 1}}active{{/if}}" data-id="{{if $value.id == 1}}0{{else}}{{$value.id}}{{/if}}" ><span>#</span>{{$value.video_type}}</label>
                            {{/each}}
                        </div>
                        <!-- /.tag -->
                    {{/if}}

                    <div class="row box-cards" data-page="1">
                    </div>
                    <!-- /.box-cards -->
                </div>
                <!-- /.contents-video -->
            </div>
        </div>
    </div>
</div>